* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: white;
  cursor: default;
}
.wrapper {
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
#information {
  font-size: 4vh;
  font-weight: bold;
}
#information-h2 {
  margin-top: 5vh;
  font-size: 4vh;
  font-weight: bold;
}
#team-name-wrapper {
  margin-top: 5vh;
  font-size: 5vh;
  font-weight: normal;
}
#refreshButton {
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: none;
  margin-bottom: 2vh;
  padding: 0.5vh;
  border-radius: 1vh;
  transition: 0.2s;
}
#refreshButton:hover {
  color: white;
  border: 1px solid white;
  transform: scale(1.1);
}
.team_name {
  margin-top: 3vh;
}
.team_name:first-child {
  margin-top: 0;
}
.lastModified {
  color: rgba(255, 255, 255, 0.25);
  transition: 0.2s;
  margin-bottom: 2vh;
}
.support {
  color: rgba(255, 255, 255, 0.25);
  margin-top: 5vh;
  cursor: pointer;
  transition: 0.2s;
}
.contact {
  margin-top: 2vh;
  height: 5vh;
  text-decoration: none;
}
.contact p {
  color: rgba(255, 255, 255, 0.25);
  transition: 0.2s;
  cursor: pointer;
}
.lastModified:hover,
.support:hover,
.contact > p:hover {
  color: white;
}
